{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Site{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <link rel="icon" href="{% static 'favicon.icon' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
        {% block extra_head %}{% endblock %}
    </head>
    
<body>



    <main class="container mt-4">
      {% block content%}
      <script>
        if (window.jQuery) {
            console.log("jQuery is loaded.");
        } else {
            console.log("jQuery is not loaded.");
        }
    </script>
    
      {% endblock content %}
    </main>

    <footer class="bg-light text-center text-lg-start mt-auto">
      <div class="container p-4">
          <div class="row">
              <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Hostellers</h5>
                  <p>Your trusted solution for managing hostel accommodations and services.</p>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Quick Links</h5>
                  <ul class="list-unstyled mb-0">
                    
                      
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Contact Us</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p class="text-dark mb-0">Email: info@hostelmanagement.com</p>
                      </li>
                      <li>
                          <p class="text-dark mb-0">Phone: +123 456 7890</p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="text-center p-3 bg-dark text-white">
        &copy; 2024 Hostel Management System. All rights reserved.
    </div>
</footer>
  
    
    <script src="{% static 'scripts/custom.js' %}"></script>

</body>
</html>
  