{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hostel Management System</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
</head>
<body>
    <header>
        <div class="container">
            <h1>Hostel Management System</h1>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="#">Welcome back, {{ request.user.username }}</a></li>
                        <li><a href="{% url 'userauths:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="#">Welcome</a></li>
                        <li><a href="{% url 'userauths:registration' %}">Register</a></li>
                        <li><a href="{% url 'userauths:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to the Hostel Management System</h1>
            <p>Your one-stop solution for managing hostel accommodations and services.</p>
            <div class="cta-buttons">
                <!-- Your CTA buttons here -->
            </div>
            <div class="image-container">
                <img src="{% static 'images/hostel.jpeg' %}" alt="Hostel Image" class="homepage-image" />
            </div>
        </section>

        <section class="signup">
            <h2>Sign Up</h2>
            <form action="{% url 'userauths:sign-up' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Hostel Management System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>



{% if request.user.is_authenticated %}
<h1>Welcome back {{request.user.username}}</h1>
{% else %}
<h1>Welcome</h1>
<a href="{% url 'userauths:sign-up' %}">Register</a>

<a href=""></a>
{% endif %} 
{% endblock %}