{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Wrapper -->
<div id="main_wrapper">
    <header id="header_part" class="fullwidth"></header>
  
    <div class="clearfix"></div>
  
    <!-- Listing Gallery Section -->
    <div id="utf_listing_gallery_part" class="utf_listing_section"></div>
  
    <div class="container">
      <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-8 col-md-8">
          <div id="titlebar" class="utf_listing_titlebar">
            <div class="utf_listing_titlebar_title">
              <h2>Valley Forge Music Theater <span class="listing-tag">Music Fair</span></h2>
              <span>
                <a href="#utf_listing_location" class="listing-address">
                  <i class="sl sl-icon-location"></i> Location Address
                </a>
              </span>
              <span class="call_now">
                <i class="sl sl-icon-phone"></i> (415) 796-3633
              </span>
  
              <div class="utf_star_rating_section" data-rating="4.5">
                <div class="utf_counter_star_rating">(4.5) / (14 Reviews)</div>
              </div>
  
              <ul class="listing_item_social">
                <li><a href="#"><i class="fa fa-bookmark"></i> Bookmark</a></li>
                <li><a href="#"><i class="fa fa-star"></i> Add Review</a></li>
                <li><a href="#"><i class="fa fa-flag"></i> Featured</a></li>
                <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                <li><a href="#" class="now_open">Open Now</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Subscribe Section -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="utf_subscribe_block clearfix">
              <div class="col-md-8 col-sm-7">
                <div class="section-heading">
                  <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                  <p class="utf_sec_meta">Subscribe to get the latest updates and information.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-5">
                <div class="contact-form-action">
                  <form method="post">
                    <span class="la la-envelope-o"></span>
                    <input class="form-control" type="email" placeholder="Enter your email" required />
                    <button class="utf_theme_btn" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  












{% endblock %}