{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Wrapper -->
<div id="main_wrapper">
    <header id="header_part" class="fullwidth"></header>

    <div class="clearfix"></div>

    <!-- Listing Gallery Section -->
    <div id="utf_listing_gallery_part" class="utf_listing_section"></div>

    <div class="container">
        <div class="row utf_sticky_main_wrapper">
            <!-- Main Content Section -->
            <div class="col-lg-8 col-md-8">
                <div id="titlebar" class="utf_listing_titlebar">
                    <div class="utf_listing_titlebar_title">
                        <h2>{{hostel.name}} <span class="listing-tag"></span></h2>
                        <span>
                            <a href="#utf_listing_location" class="listing-address">
                            <span><i class="fa fa-map-marker"></i>{{hostel.address}}</span>
                            <span><i class="fa fa-phone"></i>{{hostel.mobile}}</span><br>
                            <span><i class="fa fa-envelope"></i>{{hostel.email}}</span><br>
                        </span>
                        <span class="call_now">
                            <i class="sl sl-icon-phone"></i> (415) 796-3633
                        </span>

                        <div class="utf_star_rating_section" data-rating="4.5">
                            <div class="utf_counter_star_rating">(4.5) / (14 Reviews)</div>
                        </div>

                        <ul class="listing_item_social">
                            <li><a href="#"><i class="fa fa-bookmark"></i> Bookmark</a></li>
                            <li><a href="#"><i class="fa fa-star"></i> Add Review</a></li>
                            <li><a href="#"><i class="fa fa-flag"></i> Featured</a></li>
                            <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                            <li><a href="#" class="now_open">Open Now</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Pricing Section -->
                <div class="utf_listing_section">
                    <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">Pricing</h3>
                    <div class="show-more">
                        <div class="utf_pricing_list_section">
                            <h4>Select Pass</h4>
                            <ul>
                                {% for r in hostel.hostel_room_types %}
                                <li>
                                    <h5>{{ r.type }}</h5>
                                    <p><strong>Price :</strong> {{ r.price }} persons</p>
                                    <p><strong>Room Capacity :</strong> {{ r.room_capacity }} persons</p>
                                    <span>{{ r.price }}</span>
                                    <p><a href="{% url 'hostel:room_type_detail' hostel.slug r.slug %}" style="border-bottom: 1px gray dashed; margin-top: 10px;">View More</a></p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less">
                        <i class="fa fa-angle-down"></i> Show More
                    </a>
                </div>

                <!-- Newsletter Section -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="utf_subscribe_block clearfix">
                                <div class="col-md-8 col-sm-7">
                                    <div class="section-heading">
                                        <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                                        <p class="utf_sec_meta">Subscribe to get the latest updates and information.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-5">
                                    <div class="contact-form-action">
                                        <form method="post">
                                            <span class="la la-envelope-o"></span>
                                            <input class="form-control" type="email" placeholder="Enter your email" required />
                                            <button class="utf_theme_btn" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar with Booking Section -->
            <div class="col-lg-4 col-md-4">
                <div class="utf_listing_sidebar">
                    <div class="utf_box_widget margin-top-35">
                        <h3>Check Availability</h3>
                        <div class="box_booking_section">
                            <p><strong>Check-in and Check-out Dates:</strong></p>
                            <form class="row with-forms margin-top-0" method="POST" action="{% url 'booking:check_room_availability' %}">
                              {% csrf_token %}
                              <input type="text" value="{{ hostel.id }}" name="hostel-id" id="">
                          
                              <div class="col-lg-12 col-md-12 select_date_box">
                                  <label for="check_in_date">Check-in Date:</label>
                                  <input type="date" value="" name="checkin" placeholder="Select Date" required>
                              </div>
                          
                              <div class="col-lg-12 col-md-12 select_date_box">
                                  <label for="check_out_date">Check-out Date:</label>
                                  <input type="date" class="checkout" name="check_out_date" placeholder="Select Date" required>

                              </div>
                              <div class="with-forms margin-top-30">
                                <div class="col-lg-12 col-md-12">
                                    <label for="room-type">Select Room Type:</label>
                                    <select name="room-type" id="room-type" class="utf_chosen_select_single">
                                        <option value="">Select Room Type</option>
                                        {% for r in hostel.hostel_room_types %}
                                            <option value="{{ r.slug }}">{{ r.type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                              <button class="check-availability" type="submit">Check Availability</button>
                          </form>
                          
                            </div> 

                            <button class="add-to-wishlist">Add to Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
